<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.PointMapper">

	<update id="updatePoint">
		update tbl_user set upoint = upoint + #{point} where
		uid = #{uid}
	</update>

</mapper>


