<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>test Thymeleaf...</title>
</head>
<body>

	<h2>738p.test Thymeleaf... </h2>
	
	<p>
	Thymeleaf 와 같은 템플릿을 사용할 경우, 프로젝트 경로(/src/main/resources/templates)에
	포함된 templates 폴더를	이용해서 템플릿을 작성함.<br/>
	Thymeleaf 의 확장자는 '.html' 을 이용함.<br/>
	Thymeleaf 의 가장 큰 특징 중 하나는 'th:text' 를 이용해서 HTML 태그 내
	출력해야 하는 내용물을 작성하는 점임.<br/>
	'th:' 로 시작하는 접두어가 Thymeleaf 의 처리를 지정함.<br/>
	참조문서 : <br/>
		<a href="http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html">
			http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html
		</a><br/>
	/src/main/resources/application.properties 에 View 경로와 종류를 설정함.<br/>
	spring.mvc.view.prefix=/templates/
	spring.mvc.view.suffix=.html
	</p>
	
	<p th:text="'Hi, ' + ${name} + '!!!'" />
	
	<ul>
		<li th:each="data : ${list}" th:text="${data}"></li>
	</ul>
	
	

</body>
</html>